<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cart Page</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>
<body>
    <h1>Cart Page</h1>
    {% block content %}
    <ul>
        <li>Customer Name: {{cust_name}} </li>
        <li>Customer Email: {{cust_email}}</li>
        <li>Customer Phone: {{cust_phone}}</li>
        {% for i in selected_item %}
            {% for j in final_amt %}
            <li>{{i}} - {{j}}</li>
            {% endfor %}
        {% endfor %}
        <!-- {{qty}} -->
            <!-- {{amt}} -->
            <!-- {{final_amt}} -->
    </ul>
    {{pname}}
    <p>Total amount: {{total_amt}}</p>
    {%endblock content %}
  <!-- your content here... -->
  <script src="js/scripts.js"></script>
</body>
</html>